body {
  margin: 0;
  padding: 0;

  background-color: #333;
}

#ribbon {
  position: absolute;
  top: 0;
  left: 0;
}

main {
  min-height: 100vh;
  min-width: 100vw;

  display: grid;
  align-items: center;
  justify-items: center;

  font-size: 3em;
  color: #eee;
}

main > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stopButton {
  margin-top: 3em;
  background-color: #555;
  color: #eee;
  padding: 1em;
  border: 2px solid #111;
  border-radius: 1em;
}